apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-app
  namespace: prakai-project-01
spec:
  selector:
    matchLabels:
      app: php-app
  template:
    metadata:
      labels:
        app: php-app
    spec:
      containers:
      - name: php-container
        image: ghcr.io/${{ github.repository }}:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: php-service
  namespace: prakai-project-01
spec:
  selector:
    app: php-app
  ports:
    - port: 80
      targetPort: 80
